[2020-10-12 09:27] dgeppert opened #2 "RFQuak ESP32 w/CC1101"
Using the instructions in Git I managed to flash the ESP32 using the rfquack/rfquack docker and connect via rfquack/cli docker:

[code]
However, the CC1101 connected via the ESP32 VSPI seems not to be correctly initialised, the cli only reports _Select a dongle typing: q.dongle(id)_ i.e. no radioA object is available.

Using other software I manage to communicate with the CC1101 and exactly the sa

[2020-10-12 09:33] phretor commented on #2
Hi @dgeppert - I'd suggest to try the HSPI.

@Guglio95 you used RFQuack with an ESP32: do you by any chance recall or have a picture of your SPI wiring?

[2020-10-12 09:42] dgeppert commented on #2
same with SPI and HSPI:
[code]

[2020-10-12 10:13] phretor commented on #2
@dgeppert can you edit the `docker/my-endpoint.sh` as follows:

[code]

and run the `docker run ...` again? Nothing will happen and you'll see a lot of output: that way we can see what `.cpp` code is being compiled and uploaded on the dongle.

[2020-10-12 10:37] dgeppert commented on #2
replaced the last line in `docker/my-endpoint.sh`

[code]
and ran

[code]

but strangely do not see the effect of `cat main.cpp`, neither using `screen` nor `docker run ... rfquack/cli`

maybe I misunderstood?

[2020-10-12 10:39] dgeppert commented on #2
btw I only downloaded your docker, did not build it

[2020-10-12 11:12] phretor commented on #2
Do you have any other way to see the content of main.cpp?

________________________________
From: dgeppert <notifications@github.com>
Sent: Monday, October 12, 2020 12:40:04 PM
To: rfquack/RFQuack <RFQuack@noreply.github.com>
Cc: Federico Maggi <federico.maggi@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [rfquack/RFQuack] RFQuak ESP32 w/CC1101 (#2)

btw I only downloaded your dock

[2020-10-12 11:28] dgeppert commented on #2
sorry, I do not know where to find it.

btw I  build RFQuak and RFQuack-cli from source, I up to now have problems to get e.g.
RFQuack/examples/RFQuack-esp32-CC1101-serial/ to work (well I am new to platformio)

and I noticed that in this example the platformio.ini points to the old v1 whereas I use a v4:
board = esp32doit-devkit-v1

maybe this was used to build the docker container and this cause

[2020-10-12 11:41] Guglio95 commented on #2
Ciao!
The docker image assumes your ESP32 board is a [featheresp32](https://www.adafruit.com/product/3405). Are you using a different model?
Platformio, based on the board definition, includes a header file which determines the pinout to be used for the SPI bus.

[2020-10-12 11:56] dgeppert commented on #2
ciao Guglio, yes I am using a newer devkit v4 : az-delivery-devkit-v4

I am trying to build from an example using platformio, but need some time to learn
currently I get compiling errors on:

[code]

I do not want to get this issue too long, maybe I will come back later

unless you do have some other idea
maybe this will solve the problem

[2020-10-12 14:46] phretor commented on #2
@dgeppert using PlatformIO directly is best because running PlatformIO into Docker will give you less control. Can you share the error messages you mentioned? No problem for making this issue long ;-) the longer it gets, the more informative it will be for the future!

[2020-10-12 15:01] dgeppert commented on #2
Hello @phretor

well you asked for it and it happened that I just prepared this post ;-) here we go:

[code]
here the log file:

[piorun001.log](https://github.com/rfquack/RFQuack/files/5365885/piorun001.log)

thanks for your help!

[2020-10-12 15:48] phretor commented on #2
I forgot to mention that if you go the PlatformIO route there are a couple of oddities you should be careful of. There are multiple errors there, but let's try to rule them out one at a time:

 - the "NC" macro is not defined (see the log around `RadioA radioA = new Module(2, 21, NC);`) so I'm guessing it's part of the board's definition files: try to change that "esp32doit-devkit-v1" into "*-v4"

[2020-10-12 15:58] dgeppert commented on #2
gracie, I will give it a try

for waht concerns the last bullet, does this test make sense and the versions seem ok?

[dirk@t520 RFQuack]$ rpm -qa | grep protobuf
protobuf-lite-3.11.2-2.fc32.x86_64
protobuf-3.11.2-2.fc32.x86_64
protobuf-compiler-3.11.2-2.fc32.x86_64
python3-protobuf-3.11.2-2.fc32.noarch
protobuf-c-1.3.2-2.fc32.x86_64
protobuf-devel-3.11.2-2.fc32.x86_64

[2020-10-12 16:03] phretor commented on #2
Sort of OK. The last bit to check is that `make proto` from the main RFQuack directory (i.e., this cloned repository) does not return errors. Feel free to post the entire output here.

[2020-10-12 16:17] dgeppert commented on #2
scratched and reinstalled platformio as before, now checking out the official version:

[code]

[2020-10-12 16:20] dgeppert commented on #2
however a successive pio run still results in the same kind of errors

[piorun002.log](https://github.com/rfquack/RFQuack/files/5366255/piorun002.log)

however, this one kind of looks strange to me. any idea?

[code]

[2020-10-12 19:50] phretor commented on #2
Oh, I get what's happening! You clone the repo, you generate the .h file from the .proto by running `make proto`, and the `pio install` ruins it all, because it re-clones the repo, so overwriting the *.h file with the one that ships with the repo, which has been generated by a different protobuf compiler.

Can you verify this?

[2020-10-12 20:59] dgeppert commented on #2
make proto generates new `src/rfquack.pb.h` and `src/rfquack.pb.c` (from the file creating time)

after I am not sure what `platformio lib -g install file://./` does with these files

the example compilation `pio run` finds and complains about `.platformio/lib/RFQuack/src/radio/../modules/../rfquack.pb.h`
so it seems the global library install copied the file over

it also clones the following fro

[2020-10-12 22:33] dgeppert commented on #2
for what concerns the proto error messages:

before `make proto` we installed:

`platformio lib -g install git+https://github.com/nanopb/nanopb.git#0.3.9.2`

but later in `library.json` the `platformio lib -g install file://./` will install the current master:

[code]

there are also some references to `github.com/trendmicro` which probably should be replace by `github.com/rfquack`

now the error

[2020-10-13 12:40] phretor commented on #2
@dgeppert correct - all the refs should be updated from "trendmicro/rfquack" to "rfquack/rfquack". Good move to upgrade to nanopb@master (someone should definitely update the instructions, but time lacks on my side: feel free to send a pull request if you have time, or get someone involved to help building some community around this tool).

Do you mind posting the output of the building process af

[2020-10-13 14:02] dgeppert commented on #2
here the requested log:

[code]

- undefining `RADIOLIB_DEBUG` works-around the first `pragma` error message
- the virtual overrides e.g. setSyncWord may be edited by hand (`pb_size_t` unknown use `uint8_t` as a work-around)

the same kind of errors show up in successivly compiling other radio modules, the main problem seems the private bitrate variable `_br`

hth & cheers

[2020-10-13 14:13] phretor commented on #2
Spot on!

https://github.com/rfquack/RFQuack/blob/master/src/radio/RFQCC1101.h#L205

@Guglio95 can you check whether you forgot to commit some changes? That looks to be part of [RadioLib](https://github.com/jgromes/RadioLib) - so maybe it's a fork that we forgot to PR to RadioLib?

[2020-11-28 00:26] FiorixF1 commented on #2
Hi everybody!

I tried to compile from source and diagnosticate the errors. I succeeded in finding the cause and fixing them. Basically there are some inconsistencies in (our version of) RadioLib:

* ```NC``` is no more defined and it is replaced by ```RADIOLIB_NC```
* ```_br``` is undefined in CC1101 but it is used later, so we have to define it
* Some code related to CC1101 is mysteriously insid

[2020-11-28 18:40] dgeppert commented on #2
Hello Alessandro @FiorixF1,

many thanks for your efforts bringing the repos in consistent states again.

I had to look up the different commands I used to build:

[code]
However, I still get error messages in the build of the CC1101 example, please see the attached log file:

[RFQuack_compile_run_20201128a.txt](https://github.com/rfquack/RFQuack/files/5611062/RFQuack_compile_run_20201128a.txt)

I

[2020-11-28 20:39] FiorixF1 commented on #2
Sure.

I modified this repository, but also [RFQuack-cli](https://github.com/rfquack/RFQuack-cli) and [RadioLib](https://github.com/rfquack/RadioLib). My PR here has been accepted, but those in the other two repos not yet. So I ask @phretor or @Guglio95 if they can accept them, since they are necessary to fix the errors. In the meantime, you could use my fork [here](https://github.com/FiorixF1/RFQ

[2020-11-29 07:49] dgeppert commented on #2
Hello Alessandro @FiorixF1,

yes, this looks so much better!!!

using your RadioLib fork I could successfully compile and upload to my ESP32.

then using your RFQuack-cli (and fiddling around to set up a penv for Python 3.8) I could get into RFQuack:

[code]
However now I need to check the cabling between the ESP devkit4 (probably much different from the older Arduino Feather / devkit1) and the CC

[2020-12-04 08:24] dgeppert opened #4 "Using HUZZAH32 w/RFM69HCW"
Hello,

to start with I ordered and assembled the same Adafruit modules found on the photos on the RFQuack github site:

![494A5A58-01BD-43EA-80A2-702C1E1A7B7F_1_105_c](https://user-images.githubusercontent.com/11274448/101139473-e472ba00-3611-11eb-92fa-90fb884031d6.jpeg)

Since there is not much one may do wrong there I thought it should be straightforward to get at least some communication betwe

[2020-12-04 08:26] dgeppert opened #5 "Teensy support"
Hello,

on the photos one may see a Teensy 3.2 and the Feather Adapter, but later in the code I did not find any reference for the platformio.ini (and the configuration used). Setting it to the standard teensy31 results in compilation errors.

So my question is: did you use a Teensy for RFQuack and if yes, what was the configuration?

thanks & cheers, Dirk

[2020-12-05 16:30] dgeppert commented on #4
Hello,

following some examples in [(https://learn.adafruit.com/radio-featherwing/using-the-rfm69-radio] I could establish some SPI  communication between the HUZZAH32 and the RFM69 Radio. So at least my hardware and cabling seem fine.

@FiorixF1 : when pulling your RadioLib again today I noticed you made some progress : [RF69] Fixed setOOK()
however this results in some compilation error. maybe:

[2020-12-05 16:55] dgeppert commented on #4
switching on RADIOLIB_DEBUG and monitoring the tty via screen:

[code]

[2020-12-05 17:00] phretor commented on #4
Alrigh @dgeppert - this shows that the module is configured to use a CC1101, which is of course not found. Can you share (or point us) to the full `main` file? I assume you're using a RFM69HCW, which will require some work on your side as there needs to be the equivalent of this [RFQCC1101.h](https://github.com/rfquack/RFQuack/blob/master/src/radio/RFQCC1101.h) but for the RFM69HCW.

It's not a lo

[2020-12-05 17:10] dgeppert commented on #4
for some reason I had in mind that this is just a CC1101, some strange conclusion from the photos and the example sources. my stupid fault ;-)

so I am just using **RFQuack/examples/RFQuack-esp32-CC1101-serial**

[code]
so probably just `typedef RFQCC1101 RadioA;` to change, but for what?

By chance: will this RFM69HCW be able to communicate with a CC1101?

[2020-12-05 17:46] dgeppert commented on #4
that said, I replaced the Adafruit Feather RFM69 with a CC1101 module.

somehow MISO and MOSI are swapped and the CHIP_VERSION identifier for my chip is 0x04 instead of the 0x14 in the CC1101 datasheet (may be changed without notice!). allowing this id in the RadioLib CC1101, the modul is recongnised and RFQuack-cli is able to detect and communicate with it (e.g. read out registers).

next step is

[2020-12-08 19:21] phretor commented on #2
Also relevant if you're using CC1101 - https://github.com/jgromes/RadioLib/issues/208

[2021-04-03 12:14] joelsernamoreno opened #6 "Error tool-mkspiffs"
Hello!

When I try to flash the rfquack firmware with docker I get the following error: Error: Detected unknown package 'tool-mkspiffs'

![error](https://user-images.githubusercontent.com/27963913/113478074-c6fe1180-9486-11eb-898b-03878f5f17fc.png)

Can you check this?

Thanks

[2021-04-03 13:20] phretor commented on #6
Looks new. I suspect it’s due to PlatformIO not finding that package. If you have a PlatformIO installation on the host, can you try to install only that package and see what happens?

[2021-04-03 13:28] joelsernamoreno commented on #6
Hi!

If I run pio update you can see that tool-mkspiffs is installed correctly:

![tool-mkspiffs](https://user-images.githubusercontent.com/27963913/113479736-02054280-9491-11eb-9f33-54208297340a.png)

Platformio includes this package automatically. If you remove this check from the rfquack installation I think this problem will be solved

[2021-04-03 14:34] joelsernamoreno commented on #6
I tried flashing RFQuack on my old laptop (it worked here before), but now I get the same error

I think platformio has made some modification and this is not working now

If you remove the tool-mkspiffs installation in rfquack this should work

[2021-04-03 15:59] joelsernamoreno commented on #6
To manually install tool-mkspiffs you can run:

platformio platform install espressif32 --with-package tool-mkspiffs

Can you check this in rfquack?

[2021-04-03 22:31] joelsernamoreno commented on #6
Can you try to install rfquack on any dongle using Docker?

I would like to know if it is a problem with rfquack, platformio or my computer. We have tried several colleagues and we all get the same error

Thanks

[2021-04-04 19:13] joelsernamoreno commented on #6
H!

This works for me:

1.- Create a Dockerfile on your computer with the following content:
![fix-rfquack1](https://user-images.githubusercontent.com/27963913/113519016-0c573780-958a-11eb-8bd5-011e0010cbee.png)

2.- Compile this with: docker build -t evilcrowrf/rfquack .

3.- Flash firmware: docker run --device=/dev/ttyUSB0:/board -e BOARD=ESP32 -e RADIOA=CC1101 -e RADIOA_CS=27 -e RADIOA_IRQ=25 -

[2021-04-11 17:39] TheChatty commented on #2
@dgeppert: Have you figured out the correct cabling?

@phretor: I also got the ESP32_Devkitc_V4 and even two CC1101 (one optimized for 433Mhz the other for 868MHz). Could both transceivers be connected to my esp32? Could you please provide a reference cabling along with corresponding init commands? Have all repos been aligned already?

How does this project compare to [SignalDuino](https://github.

[2021-04-11 18:59] dgeppert commented on #2
hello @TheChatty

I connected the CC1101 to az-delivery-devkit-v4 VSPI bus, see the [pinout diagram](https://www.az-delivery.de/products/esp-32-dev-kit-c-v4)

[code]
depending on if you are using Docker build/run or one of the examples:
[code]

[code]

`docker run ... -e BOARD=ESP32 -e RADIOA=CC1101 -e RADIOA_CS=5 -e RADIOA_IRQ=4  ...`

however, I am using RadioLib and RFQuack from @FiorixF1 becau

[2021-04-12 20:09] dgeppert opened #7 "capture cli mesages"
Hello,

not an issue, but a question (hope that's ok here):

is there a way to capture the cli result into e.g. an array to process the result later within the cli?

[code]
redirecting stdout does not seem to help here, maybe because Protobuf is used?

thx in advance

[2021-04-12 20:40] phretor commented on #7
@dgeppert results are automatically collected into the `q.data` variable, which is of type `list()`.

[2021-04-12 20:43] phretor commented on #6
@joelsernamoreno I'm looking into this, but I don't see `tool-mkspiffs` used anywhere in the default `Dockerfile`; if this is something specific to your flavor of `Dockerfile`, can you make a case why this should be addressed by RFQuack? If it's something blocking that doesn't conflict with RFQuack, I'm more than happy to help.

[2021-04-12 20:45] dgeppert commented on #7
[code]

[2021-04-12 20:49] joelsernamoreno commented on #6
Hi!

When you run the command to flash rfquack with docker you are using espressif32. When you install espressif32 on platformio it automatically installs other packets like tool-mkspiffs

The problem is that your Dockerfile uses an old version of platformio and because of this it doesn't work correctly.

Change pip install -U platformio==4.1.0 to pip install -U platformio

[2021-04-12 21:01] phretor commented on #6
OK. Got it. That's what I'm about to commit. Thanks!

[2021-04-12 21:03] phretor commented on #7
Oh, my bad. You want to collect the register values. I don't think we've ever thought about storing those.

Check here https://github.com/rfquack/RFQuack-cli/blob/master/rfquack/core.py#L237

You'll see that we're storing only packets (e.g., transmissions) into `self.data`. Maybe you can create a `self.register = list()` and collect `Register` objects at https://github.com/rfquack/RFQuack-cli/blob

[2021-04-12 21:03] joelsernamoreno commented on #6
It seems that now platformio does not work properly if you are using older versions.

Let me know when you change this and I'll test it :D

[2021-04-12 21:03] Guglio95 commented on #7
Hello @dgeppert ,
‘q.data’ stores packets received from the transceiver while in RX mode

[2021-04-12 21:10] phretor commented on #6
Have a look now @joelsernamoreno and let me know if it builds fine.

[2021-04-12 21:15] joelsernamoreno commented on #6
Hi!

I keep getting the same error

Have you changed this in the public container? Note that my installation is with docker run:

docker run --device=/dev/ttyUSB0:/board -e BOARD=ESP32 -e RADIOA=CC1101 -e RADIOA_CS=27 -e RADIOA_IRQ=25 -e RADIOB=CC1101 -e RADIOB_CS=5 -e RADIOB_IRQ=2 --rm -it rfquack/rfquack

I am not flashing this locally

[2021-04-12 21:26] phretor commented on #6
No. I only changed the `Dockerfile`. Just run `make docker-build` to have a fresh image built locally.

[2021-04-12 21:34] dgeppert commented on #7
thanks @phretor! for pointing to the right spots ;-)

just two lines of code in rfquack/core.py

[code]

[code]

[2021-04-12 21:41] #7 closed

[2021-04-12 21:45] phretor commented on #2
Just checking if this issue needs any other actions or we could close it.

Please check the new Dockerfile (I just committed here) and respective images I just pushed (to Docker Hub).

[2021-04-12 21:47] joelsernamoreno commented on #6
Well, this has compiled

How do I flash this now? I have installed the following:

docker run --device=/dev/ttyUSB0:/board -e BOARD=ESP32 -e RADIOA=CC1101 -e RADIOA_CS=27 -e RADIOA_IRQ=25 -e RADIOB=CC1101 -e RADIOB_CS=5 -e RADIOB_IRQ=2 --rm -it rfquack/rfquack:latest

Now I don't get errors from tool.mkspiffs, but I get these errors:

![error3](https://user-images.githubusercontent.com/27963913/11

[2021-04-12 22:02] dgeppert commented on #6
these compilation errors look familiar to me, that's why I was using @FiorixF1 git repos.
it seems to me that there is some misalignment between RadioLib and RFQuack,
but if @phretor manages to compile the error should be on my side, somewhere...

strange, using the latest Docker hub RFQuack image, I still get:

[code]

[2021-04-12 22:03] joelsernamoreno commented on #6
Lol, now my previous solution doesn't work either

Seems to have broken everything :(

[2021-04-12 22:05] joelsernamoreno commented on #6
Hi @dgeppert

With the solution I had written before (create a new Dockerfile with the information I attached) the tool-mkspiffs problem was solved

But... after today's new changes it seems to have broken everything.

[2021-04-12 22:05] dgeppert commented on #6
in my Dockerfile I successfully use:

[code]
hth

[2021-04-12 22:06] phretor commented on #6
@FiorixF1 could you please send PRs from your RadioLib fork to rfquack/RadioLib so I can realign?

[2021-04-12 22:10] joelsernamoreno commented on #6
@dgeppert
Using your dockerfile I keep getting the RadioLib error

[2021-04-12 22:13] dgeppert commented on #6
hi @joelsernamoreno
with the changes in Dockerfile only the mkspiffs issue was addressed according to your previous proposal

compilation issues will be solved once @phretor incorporates @FiorixF1 RadioLib changes and aligns RFQuack, I guess...

[2021-04-12 22:18] joelsernamoreno commented on #6
Oh, good. This is a radiolib problem

Sorry for trying to update this. A few weeks ago I started getting the tool-mkspiff error.

I solved this by creating an updated Dockerfile to use the latest version of platformio and this worked.

I didn't think this problem would become so big now hahaha

[2021-04-12 22:47] dgeppert commented on #6
last comment: after rm all my docker images/containers a `docker run rfquack/rfquack:latest` does not show the mkspiffs error message. seems it did not pull the new image and reused the local one ;-(

just the RadioLib compilation errors remain as @joelsernamoreno already reported

[2021-04-13 09:39] phretor commented on #6
@dgeppert @joelsernamoreno see the latest commits (and, in particular, the `Makefile` and newer `Dockerfile`) and additions to the `README.md` file and let me know if you're still having issues.

In short, you should be able to:

[code]

[2021-04-13 10:09] phretor commented on #5
I used the Teensy with changes in the `platformio.ini` file, but I had to change some files here and there to make compilation go through. Was long time ago so I don't have the log files. If you have some recent compilation errors, please paste them here.

Would be good to have a `examples/RFQuack-Teensy32-<radio>-serial`, or maybe you already have one and just need to commit? :-)

[2021-04-13 10:09] phretor commented on #4
Is this issue still happening with the most recent commits @dgeppert ?

[2021-04-13 10:10] joelsernamoreno commented on #6
Hello!

In the **make build** command I get the following errors:

![error2](https://user-images.githubusercontent.com/27963913/114536260-2f03e300-9c51-11eb-96c0-3dd3a4db1ff3.png)

[2021-04-13 10:35] phretor commented on #6
Check now please:

[code]

[2021-04-13 10:54] joelsernamoreno commented on #6
Hi!

It compiles now, but I can't connect to the dongle:

![error5](https://user-images.githubusercontent.com/27963913/114541538-231b1f80-9c57-11eb-8303-7c58b0abd8aa.png)

This happens when running the command docker run --device /dev/ttyUSB0 --rm -it rfquack/cli tty -P /dev/ttyUSB0

I get the error ModuleNotFoundError: No module named 'click' but this is installed on my machine

[2021-04-13 12:29] joelsernamoreno commented on #6
I have tried to install RFQuack-cli locally, but there are ipython errors:

1. git clone https://github.com/rfquack/RFQuack-cli.git
2. cd RFQuack-cli/
3. pipenv install -e .

![error6](https://user-images.githubusercontent.com/27963913/114552244-ac851e80-9c64-11eb-811a-691b4826f1aa.png)

[2021-04-13 13:58] phretor commented on #6
There was indeed a missing line in the `Dockerfile`: thanks for your patience.

When installing locally, beware that you're using Python < 3.9 (which is the recommended minimum version). Because of that, IPython could not be installed.

I recommend using Pyenv to manage multiple Python versions on the same system, if you really want to go dockerless for this one.

[2021-04-13 13:58] phretor commented on #6
Closing this issue. If the CLI thing reappears, please open an issue at rfquack/RFQuack-cli.

[2021-04-13 13:58] #6 closed

[2021-04-13 14:49] joelsernamoreno commented on #6
Hi!

This work:
1. cd RFQuack-cli
2. make docker-build
3. docker run --device /dev/ttyUSB0 --rm -it rfquack/cli:latest tty -P /dev/ttyUSB0

Thanks!

[2021-04-13 17:11] dgeppert commented on #2
Hello Fede,

great to see you aligned to RadioLib and all compilation issues disappeared.

I just ran the latest docker hub images for rfquack and rfquack-cli and also built local ones, all ran and compiled well for ESP32 and CC1101.

Great to see this progress and efforts, now one may actually start the interesting stuff: using RFQuack!

mille grazie

[2021-04-13 17:11] #2 closed

[2021-04-13 17:13] dgeppert commented on #5
ciao Fede,

also a long time I did not touch the Teensy. for now happy with Huzzah32 and ESP32.
I will close this issue and come back if once I'll give it again a try.

a piu tardi

[2021-04-13 17:13] #5 closed

[2021-04-13 17:41] dgeppert commented on #4
hello @phretor

giving a `docker run` using the RFQuack hub image (as well as a recent local image) results in the compilation/link errors below.

btw I noticed that the `Readme.md` still says `nanopb/nanopb.git#0.3.9.2` whereas the library.json just installs/overwrites it with `nanopb/nanopb.git` (so no need to install it before with the older version)

hth

[code]

[2021-04-14 18:57] phretor commented on #4
Spotted the issue, https://github.com/rfquack/RFQuack/commit/master#diff-680c089ca24756366139fdad37516f4e3b0f5780df2b692a09cd282421111bc4R25

Please try now. Currently pushing Docker images, but you can still try locally with:

[code]

[2021-04-14 20:01] dgeppert commented on #4
tried Docker image and local build, both with same result...

something missing on my side?

[code]

[2021-04-14 20:06] phretor commented on #4
I assume you pulled the latest commit, correct?

[2021-04-14 20:25] dgeppert commented on #4
actually I just noticed that you also enabled god mode in Radiolib and it was using maybe my installed version, so I cleaned platformio/lib and tried again.

[code]

[code]

[2021-04-14 21:50] TheChatty commented on #2
@dgeppert: Thank you so much for helping out. You saved myself a lot of time for research. When I finally started the CLI along with the baud parameters I could eventually use q.guessing.start() to see non-chunked output while pressing some remote control buttons. May the quacking begin.

[2021-04-16 10:00] dgeppert commented on #4
hello,

setting up an example `RFQuack-esp32-RF69-serial` in order to use a local non-docker and investigating the linking issue:

[code]

changed:

[code]

As further up, using `_mod `when calling `SPIsetRegValue` and linking/flushing is ok.

However, RFQuack-cli does not connect to the dongle and monitoring the serial usb shows:

[code]
se checking my setup/wiring...

[2021-04-16 10:13] phretor commented on #4
Thanks for insisting @dgeppert - I had fixed only one of the two calls to `SPIsetRegValue` and not the on at L103 :-)

[2021-04-16 11:57] phretor commented on #4
BTW, some of the methods are still to be implemented, but given RadioLib's abstraction, it shouldn't be too much coding. I'll implement them next week, but if anyone has time to contribute, they'll be greatly appreciated.

File: `src/radio/RFQRFM69.h` (notice the `TODO`)

[code]

Example implementations for the CC1101: `src/radio/RFQCC1101.h`

Reference internal methods in RadioLib:
* https://gith

[2021-04-16 12:39] dgeppert commented on #4
hello,

I tested my RF69 with Arduino IDE and Adafruit RadioHead, got the Init OK message, so wiring should be OK.

I am struggling to get RADIOLIB_DEBUG and RADIOLIB_VERBOSE to work.

would like to see all these debug prints from RadioLib/src/modules/RF69/RF69.cpp

tried: defining it in
- example/.../src/main.cpp
- Radiolib/src/BuildOpt.h

Maybe you could provide instructions to enable this the c

[2021-04-16 13:05] phretor commented on #4
Yes, wiring is OK. Check latest comment on this thread: what's happening is that some methods are only stubs for the RFM69, so they need to be implemented.

About trace-ability: the only way to have them enabled is at pre-processing time (e.g., before the actual compile process) or the source code will grow too much and we'll loose performance substantially. So, the best way to enable them is to `

[2021-04-16 15:46] dgeppert commented on #4
Hello @phretor

so no way I get these RADIOLIB_DEBUG message appear on my screen, maybe I understand something wrong. here what I am doing:

- install RFQuack
[code]
- now all is installed in `~/.platformio/libs`
- edit `RadioLib/src/BuildOpt.h` to include `#define` for `RADIOLIB_DEBUG` and `RADIOLIB_VERBOSE`
- `RFQuack/examples/RFQuack-esp32-CC1101-serial`
edit `src/main.cpp` to also include thes

[2021-04-16 17:50] dgeppert commented on #4
ok, apparently I was misunderstanding the RadioLib debug output.

testing with an example from RadioLib and Arduino IDE it became more clear.

actually all the R/W/T in my previous post are from RADIOLIB_VERBOSE, so it is working well.

sorry for creating confusion... feel free to delete my previous post, not related to the topic anyway

cheers

[2021-04-23 07:59] phretor commented on #4
@dgeppert I implemented all of the relevant methods listed above, built Docker images and pushed as `rfquack/rfquack:latest`.

Please let me know if it works as expected. Else feel free to re-open this issue.

[2021-04-23 07:59] #4 closed

[2021-04-23 16:34] dgeppert commented on #4
ciao @phretor

seems you got quite some work done this week and implemented all these TODO for RF69.

Using Docker Hub, local docker build and example for RF69, all builds and uploads fine.
However I get the same error messages when monitoring for all of them:

[code]
When writing a small stub in `~/.platformio/lib/RFQuack/src/radio/RFQRFM69.h `
[code]
(probably wrong, but just to see if rfquack-c

[2021-04-29 17:27] joelsernamoreno opened #9 "RFQuack does not work properly"
Hi!

I can't access the RFQuack console correctly after flashing the code. My steps are as follows:

1.- git clone https://github.com/rfquack/RFQuack.git
2.- cd RFQuack
3.- I edit build.env with the following content:
* BOARD=ESP32
* RADIOA=CC1101
* RADIOA_CS=27
* RADIOA_IRQ=25
* RADIOB=CC1101
* RADIOB_CS=5
* RADIOB_IRQ=2

4.-  make docker-build-nc && make build
5.- PORT=/dev/ttyUSB0 make flash

R

[2021-05-03 12:19] phretor commented on #9
Did you check this? https://github.com/rfquack/RFQuack-cli/issues/7#issuecomment-830572520

There are many settings that can affect reception quality, but playing with `txPower` (from the CLI) is what I recommend doing first. Via RFQuack CLI you can access every single register:

[code]

which, on the other side, calls these `set_register` and `get_register` methods: https://github.com/rfquack/RFQ

[2021-05-28 14:43] RChadwick7 opened #10 "Unable to flash Evil Crow RF"
I was able to compile fine, but when I run:

sudo PORT=/dev/ttyUSB0 make flash

It looks like it's trying to flash the Evil Crow. Lights on it are blinking. Then, I get this: Any ideas what I'm doing wrong:?

docker run --rm -it --device=/dev/ttyUSB0:/board --env-file build.env rfquack/rfquack
Installation ID is 19b4a875-dbab-4d58-a017-58220b7a2dde
Processing ESP32 (platform: espressif32; board: e

[2021-05-28 19:58] phretor commented on #10
Looks like the ESP32 isn’t in flash mode: there are some buttons to press. Don’t remember exactly the timing because I mainly use the Teensy.

Sent from my iPhone

[2021-05-30 05:49] RChadwick7 commented on #10
I asked over at the Evil Crow Github, and it appears to be incompatible with VMWare. I'm using Windows, running Ububtu in a VM. I had the same problem with the Evil Crow firmware, but since it was an INO sketch, I could easily compile it using Arduino for Windows, and it worked fine. Is there a way to compile and flash RFQuack under Windows?

[2021-05-30 08:16] phretor commented on #10
Yes of course.

The toolchain is based on PlatformIO, which is cross-platform as it’s Python based, so you’ll be able to use it on any platform. I suggest to take advantage of Docker if you’re not into installing the toolchain on your host operating system.

Sent from my iPhone

[2021-05-31 03:31] joelsernamoreno commented on #10
Hi @phretor

The problem is that this does not work correctly on virtual machines. I have recommended you to do this on a physical machine

I have not tested the installation on Windows, but on Ubuntu it works perfectly

@RChadwick7 Try to do this on a physical machine, don't use virtual machine

[2021-05-31 05:48] phretor commented on #10
Seems related to how the virtual machine is configured to handle USB devices

Sent from my iPhone

[2021-06-03 18:49] HomeAutoUser commented on #2
@TheChatty
Are there any successes with the doorbell?

[2021-06-04 07:34] TheChatty commented on #2
With RFQuack I could only see receiptions from remotes which also worked with SIGNALDuino (all with 433 MHz). My doorbell (868 MHz) was not visible (I changed the frequency of course).

But I found the general usage of RFQuack quite unintuitive and not well documented thus I gave up.

[2021-06-04 08:27] phretor commented on #2
Can't agree more 😄 RFQuack is meant to be generic rather than a tool that works out of the box, so the learning curve is definitely steeper.

Documentation may really help, but my time (like everyone else, I'd say) is very limited. If anyone is feeling to contribute with some doc improvements, PRs are more than welcome! 🍻

[2021-08-29 22:57] wurst44 opened #12 "set_modem_config 4 changes applied and 2 failed"
Hi, when I try to set the modem config for an ESP32 (az-delivery-devkit-v4) + CC1101 (2 different models) it does not set them all:
[code]
it seems when I do not set frequency and modulation it throws no error.

I also had to add a stub in RFQCC1101.h or else it throws "not implementet" during startup:
[code]

Pls help, thank you.

[2021-09-04 15:41] barsuna commented on #12
I had similar issue (also with esp32 + cc1101), the 2 parameters that failed were modulation and frequency.

In the same vein like you did for frequency deviation i have also added a wrapper function for the frequency (in my case i put them into RFQCC1101.h file (since this is where the rest of the similar wrappers were)

    int16_t setFrequency(float carrierFreq) override {
        return CC1101

[2021-09-05 15:13] wurst44 commented on #12
Wow, thank your very much. I will have a look at the that. I hope the authors will find some time to improve the ideas of this awesome project 😊

[2021-09-06 07:54] phretor commented on #12
Thanks for the encouraging words @wurst44 and @barsuna! Unluckily, my time is extremely limited.

Check #2 out: this long (now closed) issue has many insights on how to debug cases like yours.

[2021-09-21 20:59] wurst44 commented on #12
Very tricky setup. I am receiving a lot of noise in RX mode. I do not get any results with the guessing module.
I gave up, but I got very nice results using EvilCrowRF :heart:

[2021-10-01 07:45] barsuna commented on #12
Yeps. What attracted me in RFQ was this abstraction of hardware + iPython - one has a lot of control and flexibiliy: can poke stuff into the registers when needed. Crow has UI which is useful in portable setting, but it doesn't allow same flexibility as RFQ.

So far however, i have most success with URH + rtl-sdr :) I ventured into HW-based radios with the hope to save some time figuring out the m

[2022-01-23 22:38] canidorichard opened #15 "Building with "make docker-build" and "make docker-build-nc" fails"
Attempting to build with "make docker-build" or "make docker-build-nc" fails with the following error:

[code]

[2022-01-24 19:27] canidorichard commented on #15
I can see from an earlier commit that the proto target was removed from the Makefile and so I removed the make proto from Docker file and the creation of the image is successful however it looks like there is some clean up required around protbuf as the next command ("make build") fails as a result of missing header file:
[code]

[2022-01-26 08:29] phretor commented on #15
@canidorichard thanks a lot for checking RFQuack. As an experimental project, it takes folks like you to play around and file issues :-)

The `make proto` is needed to build `rfquack.pb.h` but it fails because (I think) I forgot to include the installation of protobuf.

It should be there https://github.com/rfquack/RFQuack/blob/feee974f147f0797ad0b0d275f1cd29b2a1a55db/Dockerfile but you may want t

[2022-01-26 09:51] canidorichard commented on #15
HI @phretor I am very happy to help where I can as this is an interesting project.  I suspected it needed protobuf but noticed you removed "make proto" from the Makefile in your commit of 24th September 2021 and so that confused me a bit.

[2022-01-26 11:11] phretor commented on #15
@canidorichard let me know how it goes. I'm happy to give directions and help wherever I can. I just have the time to properly "sit down" and work on this project, although I think it has great potential, especially as an educational tool to teach the basics of digital RF comm. It's been used at a local school, although they struggle (like many schools at the moment) and didn't have the time to pr

[2022-01-26 13:37] canidorichard commented on #15
I have restored the proto target in Makefile which has resolved all of my build issues although I have not flashed the firmware and tested it as yet.  I am happy to create a pull request but wanted to understand why it had been removed previously on 24th September 2021 as I feel I may be missing some reasoning in which case me undoing this change may not be entirely helpful.

[2022-01-26 20:41] phretor commented on #15
It was probably due to a glitch in my refactoring. I usually work in bursts on side projects and I tend to leave some things behind.

My idea was to start paving the way to some GitHub Actions to do automated compilation/checks, but I never completed that step.

Feel free to send any PRs, of course :-)

[2022-08-20 18:58] ResistanceIsUseless commented on #15
I'm running into this same issue with `No rule to make target 'proto'` I'm not really familiar with what's going on here. What rule is it looking for and what generates it? If you can give me some guidance I'll submit a PR.

I also ran into some issues with some libraries needing updating the the platformio command changing. I'll submit a PR for those updates.

[2022-08-21 20:01] ResistanceIsUseless commented on #15
I think the issue I'm running into is most of the proto files are missing. I've been digging through some of the manual steps you provided in other closed issues and if i can get around the `make proto` issue and get `rfquack.pb.h` generated i should be ok.

Once this is all figured out it would be nice to have actions generate the firmware for future builds. I think that would get more people int

[2022-08-21 21:02] phretor commented on #15
Thanks for contributing with your comments and ideas.

I know I sound like a broken record, but the time I can dedicate to this project is almost  zero. But I really want to get this project on the right track, and investing time on creating Actions is a good way.

[2022-08-21 22:33] ResistanceIsUseless commented on #15
All good, that's open source life. I finally got the docker builds to work, honestly not even sure what did it. Possibly updating bottle or a different machine? I'll submit a PR to at least get the pip versions i updated fixed.

I'm now stuck trying to get firmware to flash after building. I'll create a new issue for that if it's something i get stuck on.

[2022-08-27 05:52] phretor commented on #9
Closing for no activity.

[2022-08-27 05:52] #9 closed

[2022-08-27 05:57] phretor commented on #12
This is a nice discussion, especially from @barsuna about advantage of the HW/SW modularity of RFQ compared with others.

I'm going to close this issue as there seems not much to be resolved. There is some activity in the Discussions section as well as in the project's Slack.

[2022-08-27 06:16] phretor opened #19 "Choose document generator system"
I'm asking to RFQuack's friends to help me choose the doc-generation system. Here are the options I know:

- GitBook
  - PROs: easy to get started with, Markdown based
  - CONs: kinda proprietary

- Docusaurus:
  - PROs: fully open source, Markdown based, simple
  - CONs: none known to me

- MkDocs
  - PROs: Markdown based, active community, many themes
  - CONs: maybe old?

- Sphinx:
  - PROs: we

[2022-08-27 06:24] phretor commented on #10
@joelsernamoreno @RChadwick7 have you solved this?

[2022-08-27 06:24] #12 closed

[2022-08-27 20:59] ResistanceIsUseless commented on #19
I've personally used Hugo and found it pretty straight forward. It's based on Go and uses Go Templating.

[2022-08-27 21:15] ResistanceIsUseless opened #20 "Look into using ESPHome as method for generating / uploading / managing firmware"
I know RFQuack isn't really ESP specific since it's supports anything RadioLib supports. I'm thinking that using ESP32's as the primary method makes the most sense though. I don't know if you have used ESPHome, but it's seriously easy and so straight forward.

This is what I'm thinking as to why:
- ESPHome supports over the air and in browser flashing.
- ESPHome uses a yaml based templating langua

[2022-08-27 21:53] ResistanceIsUseless commented on #19
Also heard https://astro.build/ is nice.

[2022-08-28 01:13] ResistanceIsUseless opened #21 "Update RadioLib to current version"
I'm running into an issue getting my radio to work. Using a simple example to transmit using the current RadioLib version works fine, i can even capture the signal on another device. Using the exact same configuration in RFQuack fails. I'll try updating and creating a branch for this.

[2022-08-28 07:34] phretor commented on #20
Yes, having ESPHome as one of the build systems for RFQuack-based dongles can be useful, although it wasn't the main idea of this project. I'd keep this idea in the bucket list but would prioritize.

[2022-08-28 07:35] phretor commented on #19
Hugo and Astro are static site generators. I was looking for doc-specific generators.

[2022-08-28 21:07] ResistanceIsUseless commented on #21
So i don't see this happening easily. After updating and testing a new build there are a lot of errors and builds fail.

[code]

[2022-08-30 04:25] ResistanceIsUseless commented on #21
[diff.txt](https://github.com/rfquack/RFQuack/files/9449576/diff.txt)

After doing a pull against current RadioLib the following merge conflicts exist.

[2022-08-30 21:34] phretor opened #22 "Get rid of Pipfile and related files"
We don't need `Pipfile*` and `requirements.pip`. It's either one.

[2022-09-01 22:38] ResistanceIsUseless commented on #21
@phretor I merged the changes that you made to RadioLib with RadioLib 5.3.0 and created https://github.com/ResistanceIsUseless/RadioLib
When trying to compile one of the examples i get the following errors.

[code]

[2022-11-03 14:17] sbasu3 opened #27 "RadioA does not show up"
Using a nodemcu with cc1120.

- Configured main for radioA in src
- changed build.env
- Compiles and flashes fine
- Get iPython prompt but no radioA

[2022-11-07 15:47] imagina9900 commented on #10
just had the same experience yesterday flashing my evil crow v2 in a VM on VMware. @RChadwick7 needs to press the button as soon as it says "Connecting" and it will flash without issues. This is not a VMware incompatibility since mine worked with the same scenario.

[2022-11-08 09:27] akito45 commented on #27
Open the tty in a terminal emulator and push the EN button. It will restart and give you some debug info.

[2022-11-08 10:24] sbasu3 commented on #27
#build.env
BOARD=ESP32
RADIOA=CC1101
RADIOA_CS=5
RADIOA_IRQ=2

Says Radio wiring incorrect. I am using a NODEMCU-32S

[2022-11-16 09:53] phretor commented on #15
Closing. New build system.

[2022-11-16 09:53] #15 closed

[2022-11-19 01:54] joelsernamoreno commented on #10
Hello

One person made a fork of rfquack for Evil Crow RF V2. Check this out:

https://github.com/akito45/RFQuack

I haven't had time to test this yet, but one person has confirmed that this works with Evil Crow RF V2.

Try not to use virtual machines to flash this.

Let me know if this works

Thanks

[2022-11-19 07:13] phretor commented on #10
I saw a PR from @akito45 - I'm waiting for him to rebase against the newest master, which has changed a lot since the last commit.

[2022-11-21 08:21] phretor commented on #10
@RChadwick7 @joelsernamoreno @imagina9900 - I encourage you to check again with the new build framework. Very likely you're not going to need any VM. Just a sane Python environment installation.

Check this out: https://rfquack.github.io/RFQuack/usage/dependencies/

[2022-11-24 23:36] phretor commented on #27
@sbasu3 can you try with the most recent commit?

[2022-11-24 23:37] #22 closed

[2022-11-24 23:37] #21 closed

[2022-11-24 23:38] phretor commented on #19
MkDocs is the chosen one.

[2022-11-24 23:38] #19 closed

[2022-11-28 05:30] gigawatts opened #30 "getSyncWord - invalid conversion"
## Describe the bug
Trying to compile RF Quack for EvilCrowRF v1

Getting the below error
[code]
Which is similar to #2 but that was for `setSyncWord` function, this is for `getSyncWord` function, and the workaround listed in that issue did not work for this problem.

## To Reproduce

Using a combo of instructions from the following locations:

- https://github.com/joelsernamoreno/EvilCrow-RF#adva

[2022-11-28 05:37] gigawatts commented on #30
strange, cant seem to edit above text beyond "To Reproduce"

RFQuack commit hash: `aa7f537d587d18e6795406e26f02947b6da6c089`
RadioLib commit hash: `b9a7116113663b69c6d6f7e69b925d3cdfd860cf`

[2022-11-28 05:44] gigawatts commented on #30
Also note that the instructions at the following link don't work, as the freshly built docker image does not have `pio` installed
http://rfquack.org/usage/build/#build-via-docker

[code]

[2022-11-28 07:16] phretor commented on #27
Closing for no activity. @sbasu3 let me know if you can test the most recent commits in the master branch.

[2022-11-28 07:16] #27 closed

[2022-11-28 07:17] phretor commented on #10
Closing for no activity. @RChadwick7 @joelsernamoreno @imagina9900 let me know if you have any updates on this. So far, @jimilinuxguy has confirmed that the current version works on ECRF v2.

[2022-11-28 07:17] #10 closed

[2022-11-28 07:20] #30 closed

[2022-11-28 07:21] phretor commented on #30
Thanks @gigawatts - please have a look at the most recent commit.

[2022-11-29 02:47] gigawatts commented on #30
Working! Thank you!